<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Honorbuddy" publicKeyToken="50a565ab5c01ae50" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.11489.748" newVersion="2.5.11489.748" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
