<?xml version="1.0" encoding="utf-8"?>
<ProfileSettings>
  <onetofour>1-4-Durator.xml</onetofour>
  <fourtosix>4-6-North Barrens.xml</fourtosix>
  <sixtoeight>6-8-Ashenvale.xml</sixtoeight>
  <eighttoten>8 - 10 Stonetalon Mountains.xml</eighttoten>
  <tentotwelve>10 - 12 Desolace.xml</tentotwelve>
  <twelvetofourteen>12 - 14 Southern Barrens.xml</twelvetofourteen>
  <fourteentosixteen>14 - 16 - Feralas.xml</fourteentosixteen>
  <sixteentoeighteen>16 - 18 - Felwood.xml</sixteentoeighteen>
  <eighteentotwenty>18 - 20 - Silithus.xml</eighteentotwenty>
  <twentytotwentytwo>20 - 22 - Terokkar Forest.xml</twentytotwentytwo>
  <twentytwototwentyfive>C:\Users\Doom\Desktop\Honorbuddy Nejnovejsi\Default Profiles\Guadahs Pet Profiles\Pandaria\[GB2] [22-25] Pet Training Jade Forest.xml</twentytwototwentyfive>
</ProfileSettings>