<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <lootEpic>true</lootEpic>
  <lootBlue>true</lootBlue>
  <lootGreen>true</lootGreen>
  <lootWhite>false</lootWhite>
  <lootGrey>false</lootGrey>
  <lootUnknown>false</lootUnknown>
  <lootMoney>false</lootMoney>
</Settings>